<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.NETCore.Targets" version="2.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Plugin.ImageResizer" version="1.0.1-alpha" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Plugin.Permissions" version="2.2.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="runtime.native.System" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Reflection" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Runtime" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="System.Threading" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.Connectivity" version="3.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.DeviceInfo" version="3.1.0.57-beta" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.Media" version="3.1.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.0.122203" targetFramework="portable45-net45+win8+wpa81" />
</packages>